header {
  background-color: var(--theme-yellow);
}
nav {
  display: flex;
  padding: 10px;
  max-width: 1260px;
  margin: 0 auto;
  align-items: center;
}
nav img {
  width: 40px;
  height: 50px;
}
nav h1 {
  margin-left: 10px;
  margin-right: auto;
  font-weight: bold;
  font-size: 2em;
}
nav li {
  display: inline-block;
  margin-left: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
}
nav a:hover {
  background-color: white;
  color: #111;
}
